<h1>Listing Clothes</h1>
<%= for {shop, list_of_clothes} <- @clothes_map do %>
  <h2> <%= shop %></h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Game</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  <%= for clothes <- list_of_clothes do %>
      <%= live_component PokemonCoutureWeb.Components.ClothesComponent, id: clothes.id, clothes: clothes %>
  <% end %>
    </tbody>
  </table>
<% end %>
